[submodule "rlp"]

path = rlp
url = https://github.com/Myriad-Dreamin/go-rlp

[submodule "trie"]
path = trie

url = https://github.com/Myriad-Dreamin/go-mpt
[submodule "bin/py_nsbcli"]
	path = bin/py_nsbcli
	url = http://github.com/Myriad-Dreamin/py-nsbcli
