merkmap/testdb
bin/kvstore
*.ldb
*.log
*.bak
localstorage/testdb/CURRENT
localstorage/testdb/LOCK
localstorage/testdb/LOG
localstorage/testdb/MANIFEST-000259
nohup.out

data/
contract/isc/testdb/

docker/build/node*
docker/build/data*
docker/build/-server/*
docker/build/nsbstate.db/*
docker/build/trienode.db/*
.idea
build
